.menu{ 
        margin-top:10px;
        background-color: rgb(4, 95, 4);
        overflow: auto;
        white-space: nowrap;
        padding-left: 110px;
        text-align: left;
        height: 55px;
    a {
        display: inline-block;
        color: white;
        text-align: center;
        padding-top: 7px;
        padding-bottom: px;
        margin-top: 4px; 
        text-decoration: none;
        width: 170px;
        height: 40px;
    }
   
}